
@mixin for-count($ct, $background-color, $color: null) {
    &[data-shown="#{$ct}"] {
        background-color: $background-color;
        @if $color { color: $color;  }
    }
}

.cell {
    box-sizing: border-box;

    // button just here for AX reasons
    button {
        user-select: none; // hide text cursor when keyboard navigating
        width: 100%;
        height: 100%;
        border: none;
        padding: 0;
        cursor: pointer;
        background-color: hsl(0, 0%, 90%);
    }

    // after we remove the button, the cell can still get focus
    button:focus, button:hover, &:focus {
        box-shadow: inset 0 0 0 1px hsl(0, 0%, 40%);
        outline: none;
    }
    button:active {
        box-shadow: inset 0 0 0 2px hsl(0, 0%, 100%);
    }

    // &:hover:not([data-shown])

    @include for-count(1, hsl(209, 90%, 95%));
    @include for-count(2, hsl(100, 46%, 86%));
    @include for-count(3, hsl(51, 93%, 80%));
    @include for-count(4, hsl(32, 84%, 80%));
    @include for-count(5, hsl(11, 93%, 80%));
    @include for-count(6, hsl(270, 34%, 80%));
    @include for-count(7, hsl(270, 34%, 40%), #fff);
    @include for-count(8, #000, #fff);

    border: 1px solid #999;
    // simuluate border collapse
    :not(:last-child) > & {
        border-bottom: none;
    }
    html:not([dir="rtl"]) &:not(:last-child) {
        border-right: none;
    }
    html[dir="rtl"] &:not(:last-child) {
        border-left: none;
    }
}
