@import "normalize";

@import "board";
@import "cell";

body {
    text-align: center;
    // Underwood Champion is serifed, but I like sans-serif as a fallback better
    font-family: 'Underwood Champion', sans-serif;
    padding-bottom: 1rem;;
}

h1 {
    font-weight: normal;
    margin-bottom: 0.2em;
}

button, a {
    border: none;
    background: none;
    color: hsl(212, 94%, 47%);
    cursor: pointer;
    padding: 0;
    text-decoration: none;

    &:hover, &:focus {
        outline: none;
        text-decoration: underline;
    }
    &:active {
        color: hsl(212, 94%, 32%);
    }
}

footer {
    margin-top: 1em;
}

.toolbar {
    display: flex;
    width: calc(100% - 2em);
    max-width: 45rem;
    margin: auto;

    [role="alert"] {
        flex-grow: 1;
        text-align: end;
        padding: 0 1em;

        &:focus {
            outline: none;
            text-decoration: underline;
        }
    }
}

@font-face {
    font-family: 'Underwood Champion';
    src: url('underwoodchampion_regular/underwood_champion-webfont.eot');
    src: url('underwoodchampion_regular/underwood_champion-webfont.eot?#iefix') format('embedded-opentype'),
         url('underwoodchampion_regular/underwood_champion-webfont.woff') format('woff'),
         url('underwoodchampion_regular/underwood_champion-webfont.ttf') format('truetype'),
         url('underwoodchampion_regular/underwood_champion-webfont.svg#underwood_championregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


